{% load i18n %}
{% load static from staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}" contenteditable="false"
            class="navbar-brand"
            style="vertical-align:top;max-height:100%;max-width:100%">
            <img src="{% static 'img/layout/blue-button-trim.png' %}"
                 style="vertical-align:text-top;max-height:100%;max-width:100%"></a>
        <a href="{% url 'home' %}" contenteditable="false"
           class="navbar-brand"
           alt="{{ settings.APPLICATION_TITLE }}">
                <strong>{{ settings.APPLICATION_TITLE }}</strong>
        </a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style="vertical-align:middle; ">
            <li><a href="{% url 'home' %}"><i class="fa fa-home fa-lg"></i> Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/about">About</a></li>
            <!-- {% include "include/top-nav-template-dropdown.html" %} -->
          </ul>
          <!--   {% include "include/top-nav-search-form.html" %} -->


            <div class="nav navbar-nav navbar-right align-right">
                <ul class="nav navbar-nav navbar-right">
                    {% include "include/top-nav-user-dropdown.html" %}

                    {% include 'include/top-nav-login-logout.html' %}
                </ul>

            </div>

        </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container-fluid -->
</nav>