{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}

{% block breadcrumbs %}
       <div class="container">
        <ul class="breadcrumb">
            <li class="active">Home</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}FHIR Testing Client{% endblock %}
{% block content %}


    <div class="hero-unit">

        <div class="container-fluid">
            <p>This application is provided to enable testing of OAuth2.0 secured FHIR APIs</p>
            {% if user.is_authenticated %}
            <ol>
                <li class="h4">
                    <p class="h6">Enter Client ID and Secret</p></li>
                <li class="h4">
                    <p class="h6">Enter Authorization and Token URLs</p></li>
                <li class="h4">
                    <p class="h6"><a href="{% url "connect" %}">Authenticate via OAuth2.0</a></p></li>
                <li class="h4">
                    <p class="h6"><a href="{% url "fhir_patient" %}">Test the API</a></p></li>
                <li class="h4">
                    <p class="h6"><a href="{% url "remote_logout" %}">Revoke token on remote server</a></p></li>

            </ol>
            {% else %}
                <div class="Col-lg-8 well">
                    <a class="" href="{% url 'login' %}?next=/"
                                contenteditable="false" title="Login"><h1>Login</h1></a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8 well">
            <table class="table table-striped">
                <thead class="table thead-inverse">
                    <td>Remote user</td><td>Name</td><td>email</td><td>FHIR Id</td>
                </thead>
                <tr>
                    <td>{{ me.user_name }}</td><td>{{ me.first_name }} {{ me.last_name }}</td>
                    <td>{{ me.email }}</td><td>{{ me.fhir_url_id }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-8 well">
            <table class="table table-striped">
                <thead class="table thead-inverse">
                    <td>Client ID</td><td>Client Secret</td><td>User</td><td>Callback</td>
                </thead>
                <tr>
                    <td></td><td></td><td></td><td></td>
                </tr>
            </table>
        </div>
    </div>


{% endblock %}
